{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="icon" type="images/x-icon" href="{% static '/images/logo.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
.contact{
    background: #E7ECEE;
 }
</style>
{% include 'pages/navbar.html' %}
<body>

<section class="contact">
    <div class="contact-img">
        <img src="{% static '/images/contact.png' %}">
    </div>

    <div class="contact-form">
        <h1 class="heading">CONTACT <span> US </span></h1>
<form action="#">
    <div class="input-box">
        <input type="text" placeholder="Full name">
        <input type="email" placeholder="Email-Address">
    </div>
    <div class="input-box">
        <input type="number" placeholder="Mobile Number">
    </div>
    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message:"></textarea>
    <input type="submit" value="Send Message" class="btnn">
</form>
</div>
</section>

{% include 'pages/footer.html' %}
</body>
</html>