/* Existing styles for your page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

.container {
    display: flex;
}

/* Styles for the sidebar */
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Styles for the main content */
.content {
    flex: 1;
    padding: 20px;
}
.crud {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: black;
    color: #DADDDF;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #0000;
}

td:hover {
    background-color: grey;
}

